@font-face {
  font-family: 'Arcade';
  src: url(./assets/fonts/SixtyfourConvergence-Regular.ttf);
  font-weight: 400;
  font-size: normal;
}

body {
  margin: 0;
}

.glow {
  box-shadow: 0 0 5rem 2.5rem rgba(58, 24, 80, 0.9);
  background-color: rgba(58, 24, 80, 0.8);
}

#App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: rgb(18, 19, 61);
}

#Board {

}

.square {
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  border: 0.25rem solid rgb(194, 52, 64);
  box-shadow: 0 0 0.25rem 0.15rem rgb(194, 52, 64), inset 0 0 0.25em 0.15rem rgb(194, 52, 64);
  font-size: 3rem;
  font-family: 'Arcade';
  text-align: center;
  text-shadow: 0 0 1.5rem rgb(194, 52, 64);
}

#title {
  font-family: 'Arcade';
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

